Django==3.2.4
django-cors-headers==3.7.0
django-environ==0.4.5
djangorestframework==3.13.1
drf_yasg
pyJWT==2.1.0
argon2-cffi==21.1.0 
pytz==2018.7
python-slugify==1.2.6
pillow
dj-database-url 
psycopg2
gunicorn
